html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: $font;
    margin: 28px 16px;
    height: 100%;

    @include breakpoint(tablet) {
        margin: 28px 80px;
    }

    @include breakpoint(desktop) {
        margin: 90px 165px;
    }
} 
